<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <customErrors mode="On" defaultRedirect="error404"/>
  </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
				<clear/>
				<add value="index.html" />
            </files>
        </defaultDocument>
		    <asp scriptErrorSentToBrowser="true"/>
		    <httpErrors errorMode="Detailed"/>
      <rewrite>
        <rules>
          <rule name="LowerCaseRule1" stopProcessing="true">
            <match url="[A-Z]" ignoreCase="false"/>
            <conditions>
              <add input="{URL}" pattern="^.*\.(xml|axd|css|js|jpg|jpeg|png|gif|pdf|mp3|swf|zip|rar)$" negate="true" ignoreCase="true"/>
            </conditions>
            <action type="Redirect" url="{ToLower:{URL}}"/>
          </rule>
          <rule name="inicio" stopProcessing="true">
            <match url="^inicio/"/>
            <action type="Rewrite" url="index.html"/>
          </rule>
		   <rule name="about" stopProcessing="true">
            <match url="^sobre-mi"/>
            <action type="Rewrite" url="about.html"/>
          </rule>
		   <rule name="error" stopProcessing="true">
            <match url="^error404"/>
            <action type="Rewrite" url="error404.html"/>
          </rule>
		   <rule name="contact" stopProcessing="true">
            <match url="^contacto"/>
            <action type="Rewrite" url="contact.html"/>
          </rule>
		   <rule name="proyectos" stopProcessing="true">
            <match url="^mis-proyectos"/>
            <action type="Rewrite" url="projects.html"/>
          </rule>
		   <rule name="servicios" stopProcessing="true">
            <match url="^mis-servicios"/>
            <action type="Rewrite" url="services.html"/>
          </rule>
        </rules>
      </rewrite>
      <httpErrors errorMode="Custom">
        <remove statusCode="404"/>
        <error statusCode="404" path="error404" responseMode="ExecuteURL"/>
      </httpErrors>
    </system.webServer>
    <system.net>
        <mailSettings>
            <smtp>
                <network host="info@jordiperez.es" />
            </smtp>
        </mailSettings>
    </system.net>
</configuration>
